.container {
  border: 1px solid black;
  border-radius: 20px;
  width: 250px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 13%;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.itemsUpdate{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
}